<!--The content below is only a placeholder and can be replaced.-->



<form [formGroup]="myFormModel" (ngSubmit)="onSubmit()">

  <div>Username: <input type="text" formControlName="username"></div>
  <div>Full Name: <input type="text" formControlName="fullName"></div>

  <div formGroupName="passwordsGroup">
    <div>Password: <input type="password" formControlName="password"></div>

    <div>Confirm password: <input type="password" formControlName="pconfirm"></div>
  </div>

  <br/>
  <br/>
  <b>Refer your friends and receive discounts:</b>
  <br/>

  <ol formArrayName="emails">
    <li *ngFor="let e of emailsFormArray.controls; let i = index">
      <input type="text" [formControlName]="i">
    </li>
  </ol>
  <button type="button" (click)="addEmail()">Add Email</button>
  <br />
  <br />
  <button type="submit">Submit</button>
</form>